*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto Slab', serif;
}
.r-font {
  font-family: 'Roboto', sans-serif;
}

.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}
.scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.transparent-background {
  background-color: rgba(0, 0, 0, 0.8);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:text-blue-800 hover:font-bold hover:-translate-y-1 duration-200;
  }
}
