*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}
h4,
h1,
h3,
.rb-font {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.025em;
}
.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}
.scroll::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.transparent-background {
  background-color: rgba(0, 0, 0, 0.7);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:text-sky-700 cursor-pointer hover:font-bold hover:underline underline-offset-4 duration-100;
  }
  .active-link {
    @apply text-pink-600 underline underline-offset-4;
  }
  .bg-button {
    @apply text-white rounded-sm hover:rounded-xl bg-sky-700 hover:bg-sky-800 duration-300;
  }
  .page-padding-inline {
    @apply px-5 tablet:px-5 desktop:px-10;
  }
  .page-padding {
    @apply pt-10 px-5 tablet:p-10 tablet:px-5 desktop:px-10;
  }
  .link-underline-animation-top {
    @apply hover:text-sky-700 hover:font-extrabold transition duration-200;
  }
  .link-underline-animation-body {
    @apply block max-w-0 group-hover:max-w-full transition-all duration-500 group-hover:h-0.5 bg-sky-700;
  }
  .box-image-shadow {
    @apply hover:shadow-gray-600 duration-300 hover:shadow-2xl;
  }
}
